<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.usp.ime.dcc.seminariosdcc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StudentSeminarListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".StudentSignInSignUpActivity" />
        <activity android:name=".StudentSignInActivity" />
        <activity android:name=".StudentSeminarDetailActivity" />
        <activity android:name=".StudentSignUpActivity" />
        <activity android:name=".StudentEditProfileActivity" />
        <activity android:name=".ProfessorOptions" />
        <activity android:name=".ProfessorSignInActivity" />
        <activity android:name=".ProfessorSeminarListActivity" />
        <activity android:name=".ProfessorSeminarDetailActivity" />
        <activity android:name=".ProfessorRemoveStudentActivity" />
        <activity android:name=".ProfessorAddSeminarActivity" />
        <activity android:name=".ProfessorEditSeminarActivity" />
        <activity android:name=".ProfessorRegisterListActivity" />
        <activity android:name=".ProfessorSignUpActivity" />
        <activity android:name=".ProfessorEditProfileActivity"></activity>
    </application>

</manifest>